@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
    --color-dark--1: #1c2c33;
    --color-dark--2: #40444b;
    --color-dark--3: #52575e;

    --color-light--1: #c4e1f2;
    --color-light--2: #77b3d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", sans-serif;
    color: var(--color-light--1);
}
