@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
    --color-dark--1: #242a2e;
    --color-dark--2: #2d3439;
    --color-dark--3: #42484d;

    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", sans-serif;
    color: var(--color-dark--1);
}
